// ==========================================================================
// Framework
// ==========================================================================

//Don't include this, just for visuals in the framework

.flavin__block {
  margin: 0.5rem;
  min-height: 2rem;
  position: relative;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  & span {
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 0 0 0.5rem white;
    padding: 1.5rem;
  }
  &:nth-child(n) {
    &:after {
      background-color: #f44336;
      box-shadow: 0 0 0.75rem 0 #f44336;
    }
  }
  &:nth-child(2n) {
    &:after {
      background-color: #2196f3;
      box-shadow: 0 0 0.75rem 0 #2196f3;
    }
  }
  &:nth-child(3n) {
    &:after {
      background-color: #8bc34a;
      box-shadow: 0 0 0.75rem 0 #8bc34a;
    }
  }
  &:nth-child(4n) {
    &:after {
      background-color: #ffeb3b;
      box-shadow: 0 0 0.75rem 0 #ffeb3b;
    }
    & span {
      color: black;
      text-shadow: 0 0 0.5rem black;
    }
  }
}

.flavin_block--hide {
  display: none;
}

.btn {
  color: white;
  text-shadow: 0 0 0.5rem white;
  padding: 0.5rem;
  border-radius: 0.25em;
  border: 0.05em solid white;
  background-color: transparent;
  box-shadow: 0 0 0.5rem -0.025em white;
  margin-top: 1em;
  cursor: pointer;
  transition: 0.25s ease all;
  & + & {
    margin-left: 1em;
  }
  &:hover {
    color: black;
    text-shadow: 0 0 4px black;
    box-shadow: 0 0 0.5rem 2px white;
    background-color: white;
    transition: 0.25s ease all;
  }
}
