// ==========================================================================
// Layout
// ==========================================================================

.flavin__grid {
    display: flex;
    flex-wrap: wrap;
}

.flavin__block {
    box-sizing: border-box;
    flex-shrink: 0;
}

//Generic flexbox settings that adjusts to how many are in it's container
.block {
  flex: 1 1 auto;
}

//Generic class applied to maintain same structure with default settings
@include flexboxBlocks;

//Media query specific application of mixin
@include flexboxBlocks(768px, $max-columns);
